@import "./Frame.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #22223b;
  font-family: "Montserrat", sans-serif;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 16px;
}

.Header {
  color: #ffff;
  letter-spacing: 1.5px;
  padding: 16px;
}

.Content {
  color: #ffff;
  line-height: 1.5;
  max-width: 80vw;
  padding: 16px;
}
