@import "./Frame.css";
@import "./Header.css";
@import "./Content.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #22223b;
  font-family: "Montserrat", sans-serif;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  min-height: 100vh;
  min-width: 100vw;
  padding: 16px;
}

@media screen and (min-width: 1025px) {
  .App {
    justify-content: center;
    margin-top: 0;
  }
}
